<Project>
  <PropertyGroup>
    <!-- Set this to your local game install directory, then rename this file to GameDir.props -->
    <GameDir>C:\Program Files (x86)\Steam\steamapps\common\Gamble With Your Friends</GameDir>
  </PropertyGroup>
</Project>
